<div class="container-fluid">
    <footer class="footer container justify-content-between pt-4 pb-4">
    
        <div class="footer-nav ">
            <ul>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Descarga tu poliza</a></li>
                <li><a href="">Terminos y condiciones</a></li>
            </ul>
        </div>
    
        <div class="footer-social">
            <p>Siguernos en nuestras redes sociales</p>
            <div class="footer-social-container">
                <a href="https://www.facebook.com" target="blank"><i class="fab fa-facebook "></i></a>
                <a href="https://www.youtube.com" target="blank"><img class="social-icon" src="../../assets/Asset 12.svg" alt=""></a>
                <a href="https://www.instagram.com" target="blank"><img class="social-icon" src="../../assets/igIcon.svg" alt=""></a>
            </div>
        </div>
    
    </footer>
    
   
</div>

<div class="copyright">
    <p [(ngModel)]="year"> Copyright {{ year }}</p>
</div>