<header class="row header">
    
    <nav class="header-nav navbar navbar-expand-lg ">
        <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
          <span><i class="fas fa-bars"></i></span>
        </button>
        <img class="header-nav_logo m-auto" src="../../assets/header-logo.svg" alt="header-logo">
          <div class="collapse navbar-collapse   justify-content-lg-end " id="navbarNav">
            <ul class=" navbar-nav mx-0 mt-4 header-nav-listItems">
              <li class="nav-item">

                <a class="nav-about-item nav-link d-xs-none d-sm-none d-md-none d-lg-block" data-bs-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">Acerca de Nosotros</a>

                <div class="accordion accordion-flush  d-lg-none">          
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Acerca de Nosotros
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <a class="nav-link active accordion-item" aria-current="page" href="#">Misión</a>
                            <a class="nav-link active accordion-item" aria-current="page" href="#">Visión</a>
                          </div>
                        </div>
                      </div>
                </div> 
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../assets/pdf_prueba.pdf" target="blank">Descarga tu poliza</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Términos y condiciones</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav> 

      <div class="collapse bg-dark " id="collapseMenu">
        <ul class="d-flex mt-4">
            <li class="me-4"><a class="text-white" href="">Misión</a></li>
            <li class="me-4"><a class="text-white" href="">Visión</a></li>
        </ul>
    </div>
      
</header>



